.rect {
    height: 80vh;
    width: 80vw;
    background-color: blue;
    position: relative;

}

.cir {
    position: absolute;
    background-color: red;
    height: 121px;
    width: 121px;
    border-radius: 70px;
    bottom: 0;
    left: 0;

}
@keyframes bouncinganimation {
    0% {

            -ms-transform-origin-x: 20px;
        }

        20% {

            transform: rotate(200deg)
        }

        50% {

            transform: rotate(220deg)
        }

        80% {

            transform: rotate(300deg)
        }

        100% {
            transform: rotate(310deg)
        }

    
}