* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: rgb(186, 224, 161);
}

nav {
    background-color: var(--primary-color);
    height: 83px;
    position: sticky;
}

.container{
    background-color: rgb(173, 87, 101);
    margin: 12px 10px;
    height: 233px;
    width: 233px;
}

ul li {
    list-style: none;
    display: inline;
    padding: 0px 124px;
    font-weight: bolder;
    color: rgb(2, 58, 72);
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}